body {
  margin: 0;
  font-family: "Roboto", sans-seerif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--background-doc);
}

/* top line bg */
.web {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  color: var(--accent-color);
}