h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
  margin-top: 0px;
}

cursor {
  cursor: pointer;
}

img {
  display: block;
}
.title {
   @include font(700,36px,1.1666,null);
  text-align: center;
  color: var(--tittle-text-color);
  margin-bottom: 50px;
  padding: 0px;
}