.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.examples {
  padding-top: 0;
}
.examples__list-label{
  position: relative;
}
.examples__list-label {
  @include font(700, 14px, 1.428, 0.03em);
  position: absolute;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}
.examples__list {
  list-style: none;
  display: flex;
  position: relative;
  gap: 30px;
  padding: 0;
  margin: 0;
}